 {% extends "base.html.twig" %}
 
{% block header %}
    <h2>Voici le header</h2>
{% endblock %}

    {% block body %}
    <h1> {{ title | upper }}</h1>
    <a href="{{ path('hello', {'prenom' : 'Lior', 'age' : 31}) }}">Allez voir hello</a>

    {% if age >= 18 %}
        <p>Adulte</p>

     {% elseif age >=12 %}
        <p>Ado</p>

    {% else %}
        <p>Enfant</p>
    {% endif %}

    {% for prenom, age in tableau %}
        {{prenom}} a {{age}} ans <br/>
    {% endfor %}

    {% for compteur in 0..10 %}
        {{compteur}}
    {% endfor %}

{% endblock %}